<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{base :: header}">
</head>
<head>
    <title>forget password</title>
</head>
<body>
<nav th:insert="~{base :: navbar}"></nav>
<div class="container blog-content-container">
    <div class="panel panel-default col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <div class="page-header">
            <p style="text-align: center;color: dodgerblue;font-size: 150%">
                重置密码
            </p>
        </div>
        <div class="panel-body">
            <form th:action="@{/auth/resetPassword}" method="post">
                <div class="form-group">
                    <label for="email" class="col-form-label">邮箱</label>
                    <input type="email" name="email" id="email" class="form-control" maxlength="50" required th:value="${email}">
                </div>

                <div class="alert alert-danger" th:if="${EmailNotExist}">
                    <!--  邮箱不存在！-->
                    <span th:text="${EmailNotExist}"></span>
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="form-group ">
                    <label for="newPassword" class="col-form-label">新密码</label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control" minlength="6" maxlength="50" required th:value="${newPassword}">
                </div>

                <div class="form-group ">
                    <label for="repeatPassword" class="col-form-label">确认密码</label>
                    <input type="password" name="repeatPassword" id="repeatPassword" class="form-control" minlength="6" maxlength="50" required th:value="${repeatPassword}">
                </div>
                <div class="alert alert-danger" th:if="${PasswordNotMatch}">
                    <!--  密码不一致！-->
                    <span th:text="${PasswordNotMatch}"></span>
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="form-group">
                    <label for="resetPasswordValidationCode">邮箱验证码</label>
                    <input type="text" name="resetPasswordValidationCode" id="resetPasswordValidationCode" class="form-control" maxlength="6" required th:value="${resetPasswordValidationCode}">
                </div>

                <div class="alert alert-danger" th:if="${ValidationCodeError}" >
                    <!--  验证码错误！-->
                    <span th:text="${ValidationCodeError}"></span>
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="form-group" id="tips">
                </div>

                <div class="form-group pull-left">
                    <button class="btn btn-info" type="button" id="sendCode">
                        获取验证码
                    </button>
                </div>

                <div class="form-group  pull-right">
                    <button type="submit" class="btn btn-success">重置</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/resetPassword.js"></script>
</html>