<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{base :: header}">
</head>
<head>
    <title>search article</title>
</head>
<body>
<nav th:insert="~{base :: navbar}">
</nav>

<div class="container col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="panel-default">
        <div>
            <h3>搜索结果</h3>
        </div>
        <div class="search-result" th:if="${page}">
            <ul class="list-group">
                <li class="list-group-item" th:each="article : ${page.getContent()}">
                    <div class="article">
                        <h3><a target="_blank" th:href="@{/article/{articleId}(articleId=${article.articleId})}"
                               th:text="${article.title}" style="color: blue"></a></h3>
                        <p id="authorInfo">
                            <span class="glyphicon glyphicon-user" th:text="${article.author}"></span>
                            <span class="glyphicon glyphicon-eye-open" th:text="${article.readNum}"></span>
                            <span class="glyphicon glyphicon-heart" style="color: #00aaaa"
                                  th:text="${article.likeNum}"></span>
                        </p>
                        <p class="article-content-brief">
                            <span th:text="${article.summary}"></span>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="page-nav" th:if="${page}">
                <!--分页组件-->
                <nav style="text-align: center" aria-label="Page navigation">
                    <ul class="pagination">

                        <!--有上一页-->
                        <li th:if="${page.hasPrevious()}">
                            <a th:href="${'/search/?q=' + keyword + '&page=' + (currentPage - 1)}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!--无上一页-->
                        <li th:if="${!page.hasPrevious()}">
                            <a aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="pageNum: ${pageRange}">
                            <a th:href="${'/search/?q=' + keyword + '&page=' + pageNum}">
                                <span th:class="${pageNum == currentPage ? 'active':''}" th:text="${pageNum}"></span>
                            </a>
                        </li>

                        <li th:if="${page.hasNext()}">
                            <a th:href="${'/search/?q=' + keyword + '&page=' + (currentPage + 1) }" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li th:if="${!page.hasNext()}">
                            <a aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>