<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.blog.mapper.AccessDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.li.blog.beans.AccessData">
        <id column="access_id" property="accessId" />
        <result column="article_id" property="articleId" />
        <result column="access_num" property="accessNum" />
        <result column="access_date" property="accessDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        access_id, article_id, access_num, access_date
    </sql>

</mapper>
